.table {
	border: none;
    border-spacing: 0 4px;
}

.table tbody {
	grid-gap: 4px;
}

.table th {
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 560;
	line-height: 16px;
	letter-spacing: 0.01em;
	text-align: left;
	padding: 8px;
	box-sizing: border-box;
}

.table td {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 560;
	line-height: 20px;
	text-align: left;
	background-color: #FFFFFF14;
}

.table > tbody > tr {
	border-radius: 14px;
	height: 64px;
}

.table > tbody > tr > :first-child {
	border-radius: 14px 0px 0px 14px;
}

.table > tbody > tr > :last-child {
	border-radius: 0px 14px 14px 0px;
}

.id {
	width: 100px;
}

.date {
	width: 128px;
}

.city {
	width: 164px;
}

.quantity {
	width: 146px;
}

.type {
	width: 144px;
}

.warehouse {
	max-width: 376px;
}

.status {
	width: 120px;
}

.menu {
	width: 36px;
}

.value {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	/* padding: 8px; */
}

.subValue {
	color: #FFFFFF66;
	font-size: 13px;
	font-weight: 560;
	line-height: 16px;
	letter-spacing: 0.01em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 6px;
}

.menuBtn {
	width: 36px;
	height: 36px;
}